/*preferences*/

img#toothless-avatar {
  bottom: 60px;
  height: 100px;
  position: absolute;
  right: 40px
}

#settings-gsx-chatReplacement {
  width: 470px
}

#gsx-settings-export-btn {
  float: none;
  margin-left: 30px
}

#import-result {
  color: red;
}

li.guests-container {
  line-height: 10px;
  min-width: 33px;
  max-width: 150px;
  height: 30px;
  text-align: right;
}

li.guests-container span.label {
  bottom: 0;
  position: absolute;
}

.guest-list a {
  overflow: hidden;
  max-width: 90px;
  text-overflow: ellipsis;
  margin: 0;
  display: table-cell;
  white-space: nowrap;
}

.guest-list a.offline {
  opacity: 0.5;
}
/*chat messages*/

.chat-activity canvas,
.chat-activity img {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  margin: 0
}

.chat-message .message hr {
  margin: 0 0 5px
}

.tooltip.emoji-selector .upgrade-overlay {
  display: none
}
/**ignored messages*/

.chat-activity .chat-actions {
  background: none
}

.chat-activity:hover .ignore {
  display: block
}

.chat-message.ignored:hover .message {
  display: inline
}

.chat-message.ignored,
.chat-message.ignored a {
  color: #999;
  padding-bottom: 0;
  padding-top: 0
}

.chat-message.ignored .message,
.chat-message.ignored .user-name {
  clear: none;
  display: inline;
  font-size: 9px;
  float: none;
  padding-right: 3px
}

.chat-message.ignored .img-container,
.chat-message.ignored .favorite,
.chat-message.ignored .message,
.chat-message.ignored .timestamp {
  display: none
}

.chat-message.ignored .ignore {
  float: right;
  margin-top: 1px
}

.ignored.chat-activity .icon-ignore {
  color: #46BE9C
}

.ignored .chat-actions {
  margin-top: -10px
}

.chat-activity .icon-ignore {
  color: #9C2F38
}

.chat-activity .ignore .icon {
  top: 0
}

.ignored .icon-ignore:after {
  display: none
}
/**Autocomplete popup*/

.popupMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.popupMenu li > a,
.popupMenu li > span {
  display: block;
  padding: 3px 25px 3px 35px;
  overflow: hidden;
  white-space: nowrap
}

.popupMenu li > a {
  color: #444
}

.popupMenu li > span {
  color: #888
}

.popupMenu li > a:hover,
ul.popupMenu li.selected > a {
  text-decoration: none;
  color: #fff
}

.popupMenu li > a:hover *,
ul.popupMenu li.selected > a * {
  color: #fff
}

.popupMenu li.sep {
  border-top: 1px solid #ccc;
  margin: 5px
}

.popupMenu li > a i,
.popupMenu li > span i {
  margin-left: -23px;
  float: left;
  width: 15px;
  text-align: right;
  line-height: 20px;
  font-size: 14px
}

.gsx-video-container .overlay {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #ededed;
  background-color: black;
  border: 4px solid #ededed;
  font: bold 6pt calibri;
  text-align: center;
  line-height: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.gsx-video video,
.gsx-video-container video {
  width: 100%;
}

.gsx-video-container {
  max-width: 100%;
  position: relative;
}
/**Upcoming song **/

#bc-upcoming-song {
  font-size: 0.8em;
  position: absolute;
  right: 5px;
  top: 2px;
  width: 200px;
  z-index: 5;
  height: 40px;

}

#bc-upcoming-song .now-playing-label {
  color: rgba(241, 242, 244, 0.6);
  display: block;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: left;
  padding-right: 10px;
}

#bc-upcoming-song .img-container {
  float: left;
  margin-right: 5px;
}

#bc-upcoming-song .title.song-link {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  height: 26px;
}

#bc-upcoming-song .title-container {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 13px;
}

#bc-upcoming-song .meta-text.album::before {
  content: "•";
  display: inline-block;
  height: 1em;
  line-height: 1.1em;
  margin: 0 0.1em;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  top: -0.05em;
  vertical-align: middle;
}

#bc-upcoming-song .meta-inner,
#bc-upcoming-song .meta-text {
  color: rgba(241, 242, 244, 0.8);
  font-weight: 300;
  max-width: 90%;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  top: -3px;
  white-space: nowrap;
}

/** External ChatBox **/

body.external-chat-active #sidebar,
body.external-chat-active #header,
body.external-chat-active #player-wrapper,
body.external-chat-active #container {
  display: none;
}

body.external-chat-active #chat-sidebar,
body.external-chat-active .chat .msgs {
  width: 100% !important;
}

body.external-chat-active #chat-sidebar {
  position: static;
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

body.external-chat-active {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#chat-hidden-container {
  display: none;
  width: 100%;
  height: 100%;
}

#chat-hidden-container div {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 47%;
}

#chat-hidden-container h2 {
  text-align: center;
  margin: 0 0 14px;
}

#chat-hidden-container a {
  width: 100px;
  text-align: center;
  float: none;
}

#chat-hidden-container a .label {
  float: none;
}

body.chat-hidden #chat-hidden-container {
  display: block;
}

body.chat-hidden #chat-sidebar .chat {
  display: none;
}

@media all and (min-width: 1025px) {
  #chat-hidden-container {
    display: none;
  }
}

.chat .form-container .popout-btn, .chat .form-container a.settings {
  width: 25px;
  float: right;
  text-align: center;
}

.chat .form-container .popout-btn .icon {
  margin: 0;
  line-height: 36px;
  transform: rotate(90deg);
}

/**Social Bar Stuff*/

@media all and (min-width: 1025px) {
    body.social-bar-open #gsx-social-bar-container {
        width: 200px;
    }

    body.social-bar-open #chat-sidebar {
        right: 200px !important;
    }

    body.social-bar-open #container {
        padding-right: 200px !important;
    }

    body.social-bar-open #container.broadcast {
        padding-right: 470px !important;
    }

    body.social-bar-open.social-bar-small #chat-sidebar {
        right: 50px !important;
    }

    body.social-bar-open.social-bar-small #container.broadcast {
        padding-right: 320px !important;
    }

    body.social-bar-open.social-bar-small #container {
        padding-right: 50px !important;
    }
}

#gsx-social-bar-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background: #191e28;
    z-index: 11255;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#gsx-social-bar {
    padding: 12px 12px 36px;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

#gsx-social-bar-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 36px;
    padding: 6px 12px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #191e28;
}

#gsx-social-bar-btn .icon {
    margin: 0;
    background: rgba(255, 255, 255, .2);
}

.sbar-user {
    margin-bottom: 12px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.sbar-user .clear {
    clear: both;
    height: 0;
    width: 1px;
}

.sbar-user .img-container {
    float: left;
    position: relative;
    top: 5px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.sbar-user .img-container .user-img {
    width: 30px;
    height: 30px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.sbar-user.sbar-listener {
    padding-left: 40px;
    margin-bottom: 4px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.sbar-user.sbar-listener .img-container {
    top: -2px;
}

.sbar-user.sbar-listener .user-img {
    width: 20px;
    height: 20px;
}

.sbar-data {
    width: 136px;
    overflow: hidden;
    float: left;
    margin-left: 10px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.sbar-user.sbar-listener .sbar-data {
    width: 96px;
}

.sbar-user.no-bc .sbar-data {
    top: 6px;
}

.sbar-user.no-bc.no-song .sbar-data {
    top: 12px;
}

.sbar-data .sbar-title {
    font-size: 12px;
    width: 100%;
    display: block;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    font-weight: bold;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sbar-data .sbar-song {
    width: 100%;
    display: block;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    color: #9B9DA3;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sbar-data .sbar-by {
    width: 100%;
    display: block;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    color: #9B9DA3;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body.social-bar-small #gsx-social-bar-container {
    right: -150px;
}

body.social-bar-small .sbar-user .img-container, body.social-bar-small .sbar-user.sbar-listener .img-container {
    top: 0;
}

body.social-bar-small .sbar-user .img-container .user-img, body.social-bar-small .sbar-user.sbar-listener .user-img {
    width: 26px;
    height: 26px;
}

body.social-bar-small .sbar-user.sbar-listener {
    padding-left: 0;
    margin-bottom: 8px;
}

body.social-bar-small .sbar-data {
    height: 26px;
    left: 10px;
}

body.social-bar-small .sbar-user {
    margin-bottom: 8px;
}


/**** FIX GS Bugs ***/
@media only screen and (max-width: 529px), only screen and (max-width: 1024px) and (min-width: 530px) {
  #player-wrapper.in-broadcast{
    height: 102px;
  }
}