.chat-message .message hr {
   margin: 0 0 5px 0;
   border: none;
   background:none;
   border-top : 1px dotted #eee;
}
/*auto votes styles*/
.module.song.auto-upvote .title:before,a.song-link.auto-upvote h3:before, .queue-item.auto-upvote .album-art:before { content:"\1F44D"; color:#09B151; font-family: Segoe UI Symbol, Symbola ;}
.module.song.auto-downvote .title:before,a.song-link.auto-downvote h3:before, .queue-item.auto-downvote .album-art:before  { content:"\1F44E"; color:#F22; font-family: Segoe UI Symbol, Symbola;}
.queue-item.auto-upvote .album-art:before,  .queue-item.auto-downvote .album-art:before{ 
    font-size: 1.4em;
    position:absolute;
    top:0;
    right: 0;
    text-shadow: -2px 0 white, 0 2px white,  2px 0 white, 0 -2px white;
}
.module.song.marked, .chat-activity.marked, a.song-link.marked { border-right:3px solid red;}
.chat-activity .album-link {
    color: #666;
    font-weight: bold;
}
/*Green border on favorites/friends*/
.chat-activity.friend-activity{ 
	box-shadow:  30px 0 30px -30px #b3d8f1   inset;
	border-left: 2px #b3d8f1 solid !important;
}
.module.song.friend-activity .user-link.meta-text {
    color:#b3d8f1 !important;
    text-shadow: 0 0 17px #b3d8f1;
}
.module.song.bc-library,.chat-activity.bc-library, a.song-link.bc-library {
	box-shadow:  30px 0 30px -30px #b3f1d8 inset;
	overflow: hidden;
	border-left: 3px  #b3f1d8 solid !important;
}
a.song-link.bc-library .image {
  margin-left: -3px;
}
.queue-item.bc-library .album-art { 
    box-shadow:   0px 0px 10px #6f6;
}
.queue-item.marked .album-art { 
    box-shadow:   0px 0px 10px red;
}


/*Chat song change notifications*/
.chat-activity.chat-info.songChange { background-color: #FFF7ED;}
/*Important messages*/
.chat-activity.hot-activity  {
	box-shadow:  30px 0 30px -30px #f1b3b3 inset;
	overflow: hidden;
	border-left: 3px  #f1b3b3 solid !important;
}
.chat-message .hot-msg {
  border-right: 3px solid #ffebeb;
  display: block;
  font-weight: bold;
}
.chat-message .bot-command {
  color: #bbb;
  font-style: italic;
}
.chat-message .spoiler-msg{
    cursor:help;
}

.module.song.bc-history,.chat-activity.bc-history, a.song-link.bc-history  {
 background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 10%,
  rgba(250, 180, 100, 0.2) 100%) ;
}
/* rejected songs */
.bc-rejected {
 background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%,
  rgba(255, 50, 50, 0.5) 100%);
}

.chat-activity.chat-info.joinedBroadcast .message,
.chat-activity.chat-info.leftBroadcast .message,
.chat-activity.chat-info.joinedLeftBroadcast .message,
.chat-activity.chat-info.leftJoinedBroadcast .message{
  font-size: 9px;
  line-height: 8px;
}
.chat-activity.chat-info.joinedBroadcast, 
.chat-activity.chat-info.leftBroadcast, 
.chat-activity.chat-info.joinedLeftBroadcast,
 .chat-activity.chat-info.leftJoinedBroadcast {
	padding: 1px 8px;
}
	
/*Suggestion layout */
.meta-text.user-link{ position: absolute;  right: 170px;top: 3px; color:#CCC !important; display:inline !important;} 
.meta-text.suggested-by-text{display:none !important;}
.meta-text.suggestion.album{display:inline !important;}

/*Remove chat share box */
#bc-share{display:none;}.bc-chat-messages-container {top:0px!important;}

/*Enlarged layout */
#page .chat-activity.chat-message .inner{width:320px !important;}
#page .chat-activity.chat-info .inner{width:270px !important;}
#page .bc-chat-container {width: 400px !important;}
#page .bc-chat-form-container .bc-chat-input {width: 282px !important;}
#page, #page-nav, #page-header .inner img {width:1110px !important;}
#page #page-header .inner .song-data-container {width:936px !important;} 
#page #page-content, #page #column1.full{width:1050px;} 
#page #column2{width:390px}

/*Chat timestamps*/
.timestamp {font-size:7pt; color:#999; right: 10px; top: -4px; position: absolute;}
.popupMenu{background:#f4f4f4;border-radius:3px}
.popupMenu li > a{border-radius:3px}
.popupMenu li > a:hover,ul.popupMenu li.selected > a{background:#f77f00}

.gsx-video-popup{ background: none repeat scroll 0 0 #fff;border-radius: 6px; padding: 12px; margin:0}