/*auto votes styles*/
.module.song.auto-upvote .title:before,a.song-link.auto-upvote h3:before, .queue-item.auto-upvote .album-art:before { content:"\1F44D"; color:#09B151; font-family: Segoe UI Symbol, Symbola ;}
.module.song.auto-downvote .title:before,a.song-link.auto-downvote h3:before, .queue-item.auto-downvote .album-art:before  { content:"\1F44E"; color:#F22; font-family: Segoe UI Symbol, Symbola;}

 .queue-item.auto-upvote .album-art:before,  .queue-item.auto-downvote .album-art:before{ 
    font-size: 1.4em;
    position:absolute;
    top:0;
    right: 0;
    text-shadow: -2px 0 white, 0 2px white,  2px 0 white, 0 -2px white;
}

/*Green border on favorites/friends*/
.chat-activity.friend-activity{ border-left: 3px solid #B3D8F1 !important;}
.module.song.bc-library,.chat-activity.bc-library, a.song-link.bc-library{ border-left: 2px solid #66EE77 !important;}
.module.song.bc-history .title,.chat-activity.bc-history .song-link, a.song-link.bc-history  h3{color: #881F1F !important;}
.module.song.marked, .chat-activity.marked, a.song-link.marked{ border-right:3px solid red;}
.module.song.friend-activity .user-link.meta-text {color:#b3d8f1 !important;}

/*Chat song change notifications*/
.chat-activity.chat-info.songChange { background-color: #FFF7ED;}
/*Important messages, rejected songs*/
.chat-activity.hot-activity, .bc-rejected{ background-color : #FFEBEB;}

/*Suggestion layout */
.meta-text.user-link{ position: absolute;  right: 170px;top: 3px; color:#CCC !important; display:inline !important;}
.meta-text.suggested-by-text{display:none !important;}
.meta-text.suggestion.album{display:inline !important;}

/*Remove chat share box */
#bc-share{display:none;}.bc-chat-messages-container {top:0px!important;}

/*Enlarged layout */
#page .chat-activity.chat-message .inner{width:320px !important;}
#page .chat-activity.chat-info .inner{width:270px !important;}
#page .bc-chat-container {width: 400px !important;}
#page .bc-chat-form-container .bc-chat-input {width: 282px !important;}
#page, #page-nav, #page-header .inner img {width:1110px !important;}
#page #page-header .inner .song-data-container {width:936px !important;} 
#page #page-content, #page #column1.full{width:1050px;} 
#page #column2{width:390px}
.chat-activity .album-link {
    color: #666;
}
/*Chat timestamps*/
.timestamp {font-size:7pt; color:#999; right: 10px; top: -4px; position: absolute;}
.popupMenu{background:#f4f4f4;border-radius:3px}
.popupMenu li > a{border-radius:3px}
.popupMenu li > a:hover,ul.popupMenu li.selected > a{background:#f77f00}

.gsx-video-popup{ background: none repeat scroll 0 0 #fff;border-radius: 6px; padding: 12px; margin:0}